---
layout: layout.liquid
title: Side Quest Generator
---

<body class="flex bg-amber-50 h-screen items-center justify-center"></body>
<div id="container">
        <p>Todo: <span id="todoTodo"></span></p>
        <p>Completed: <span id="todoCompleted"></span></p>
        <button class="h-20 px-14 font-bold rounded-md bg-pink-200 custom-pink-bg text-white mt-6" type="submit" onclick="generate()">GENERATE YOUR NEXT SIDE QUEST</button>
    </div>
</body>