---
title: MI 449 Lab 7
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <script defer src="https://cdn.jsdelivr.net/gh/hankhank10/alpine-fetch@main/alpine-fetch.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    async function generate() {
      const requestURL = "https://dummyjson.com/todos/random";
      const request = new Request(requestURL);
      const response = await fetch(request);
      const todo = await response.json();
      displayHTML(todo);
    }

    function displayHTML(todo){
      const container = document.getElementById("container");

      const todoTodo = document.getElementById("todoTodo");
      todoTodo.textContent = todo.todo;

      const todoCompleted = document.getElementById("todoCompleted");
      todoCompleted.textContent =  todo.completed ? "Completed" : "Not Completed";
}
    generate();
  </script>
</head>
<body>
    {{ content }}
</body>
</html>